* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Header */
header {
    background-color: #9e9e9e;
    padding: 20px;
    border-bottom: 5px solid #333;
}

/* Navigation */
nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    background-color: #999;
    padding: 8px 15px;
    color: black;
}

/* Buttons */
.theme-btn,
.section-btn {
    padding: 8px 16px;
    background-color: #999;
    border: 1px solid #333;
    cursor: pointer;
    border-radius: 8px;
    font-size: 14px;
}

/* Dark mode Button */
.theme-btn {
    margin: 15px;
    display: block;
}

/* Main */
main {
    max-width: 800px;
    margin: 0 auto; 
}

/* Sections */
section {
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #333;
    position: relative; 
}

/* Hide buttons*/
section .hide-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    margin: 0;
}

/* Footer */
footer {
    padding: 20px;
    border-top: 5px solid #333;
}

/* Dark Mode */
.dark-mode {
    background-color: #121212;
    color: white;
}

.dark-mode header,
.dark-mode section,
.dark-mode footer {
    background-color: #1e1e1e;
}

.dark-mode nav ul li a {
    background-color: #333;
    color: white;
}

.dark-mode .theme-btn,
.dark-mode .section-btn {
    background-color: #333;
    color: white;
}
